<div class="go-page">

    <div class="row right">
        Статистика <app-game-stat></app-game-stat>
    </div>

    <div class="row">
        <form class="example-form col s12">

            <button class="btn waves-effect waves-light" type="button" name="action" (click)="generate()">Сгенерировать пример
                <i class="material-icons right">send</i>
            </button>

            <div class="input-field col s12">
                <h6 *ngIf="word">Переведите слово << <strong>{{word.text}}</strong> >> на русский язык:</h6>
            </div>

            <div class="input-field col s12">
                <div class="input-field inline mr-2">
                    <input id="translation" name="translation" type="text" class="validate" [(ngModel)]="translation">
                    <label for="translation">Перевод</label>
                </div>
                <a class="waves-effect waves-light btn-large ml-2" (click)="checkTranslation()">Проверить</a>


            </div>

            <div class="input-field col s12">

            </div>
        </form>
    </div>

</div>
