<div class="main-content">

    <mat-toolbar color="primary">
        <nav mat-tab-nav-bar>
            <a mat-tab-link *ngFor="let link of links"
               routerLinkActive="nav-link-active"
               [routerLinkActiveOptions]="{exact: true}"
               mat-button
               [routerLink]="link.href"
               > {{link.text}} </a>
        </nav>

        <span class="top-menu-spacer"></span>

        <h1>{{title}}</h1>
    </mat-toolbar>
    <mat-card>
        <router-outlet></router-outlet>
    </mat-card>
</div>
