.main-content {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px 20px;
}

nav > .nav-link-active {
    color: orange;
    border-bottom: 2px solid orange;
    border-radius: 0;
}

.top-menu-spacer {
    flex: 1 1 auto;
}
