<h5>Добавить слово / словосочетание</h5>
<div>
    <div class="row">
        <div class="col s12">
            <div class="input-field inline mr-2">
                <input id="add-word-text" type="text" class="validate" [(ngModel)]="newWord">
                <label for="add-word-text">Слово ({{wordLang}})</label>
            </div>

            <div class="input-field inline mr-2">
                <input id="add-word-translation" type="text" class="validate" [(ngModel)]="translation">
                <label for="add-word-translation">Перевод ({{translationLang}})</label>
            </div>
            <a class="waves-effect waves-light btn" (click)="addWord()">Добавить</a>
        </div>
    </div>
</div>

<br>

<h5>Недавно были добавлены слова:</h5>
<ul class="word-list collection">
    <li *ngFor="let word of list" class="collection-item">
        <div class="word-list-item">
            <div>{{word.text}} ({{word.textLang}})</div>
            <div class="spacer"></div>
            <div>{{word.translations.join(', ')}}  ({{word.translationsLang}})</div>
            <div class="spacer"></div>
            <div>{{word.date | date:'dd.MM.y hh:mm:ss'}}</div>
        </div>
    </li>
</ul>
