<h2>Настройки приложения</h2>
<div>
    <ngb-alert type="success">Bootstrap in angular works....</ngb-alert>

    <form class="example-form">
        <div>
            <label>Выберите языки</label>
            <ul>
                <li>
                    чекбокс
                </li>
                <li>
                    чекбокс
                </li>
                <li>
                    чекбокс
                </li>
            </ul>
        </div>


        INPUT

        <br>

        INPUT

        <button type="button">Применить</button>
    </form>
</div>
