<h5>Настройки приложения</h5>
<div>
    <div class="row">
        <form class="example-form col s12">
            <div>
                <label>Выберите языки</label>
                <ul>
                    <li>
                        <label>
                            <input type="checkbox" />
                            <span>Английский</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" />
                            <span>Французский</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" />
                            <span>Японский</span>
                        </label>
                    </li>
                </ul>
            </div>


            <div class="input-field col s12">
                <input value="" id="words-count" type="text" class="validate">
                <label class="active" for="words-count">Количество слов в упражнении</label>
                <span class="helper-text" data-error="wrong" data-success="right">Упражнение не закончится, пока все слова не будут использованы</span>
            </div>

            <div class="input-field col s12">
                <input value="" id="duration" type="text" class="validate">
                <label class="active" for="duration">Длительность упражнения</label>
                <span class="helper-text" data-error="wrong" data-success="right">Сколько минут отводится на упражнение, от 1 до 15</span>
            </div>


            <a class="waves-effect waves-light btn blue darken-2">Применить</a>
        </form>
    </div>
</div>
